@model Book

@{
  ViewData["Title"] = "Edit Chapter";
}

<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-action="List">Books</a></li>
    @if (Model.Chapters.Count > 1)
    {
      <li class="breadcrumb-item"><a asp-action="View" asp-route-id="@Model.BookId">@Model.Title</a></li>
      <li class="breadcrumb-item"><a href="../@ViewBag.Chapter.Number">@ViewBag.Chapter.Name</a></li>
    }
    else
    {
      <li class="breadcrumb-item"><a asp-action="View" asp-route-id="@Model.BookId">@Model.Title</a></li>
    }
    <li class="breadcrumb-item active">Edit</li>
  </ol>
</nav>

<form method="post">
  <div class="form-group">
    <textarea class="form-control" rows="10" name="text">@Html.Raw(ViewBag.Markdown.Text)</textarea>
  </div>
  <a href="../@ViewBag.Chapter.Number" class="btn btn-outline-secondary">Cancel</a>
  <button type="submit" class="btn btn-outline-primary">Save</button>
</form>

@section StyleSheets{
  <style>
    p {
      font-size: 150%;
    }
  </style>
}

@section Scripts {
<script>
  $(function () {
    $("h2").addClass("d-none");
  });
</script>
}