@model List<Book>

@{
  ViewData["Title"] = "Books";
}

<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Books</li>
  </ol>
</nav>

<form class="form-inline mb-3">
  <input name="term" type="text" class="form-control">
  <button type="submit" class="btn btn-primary ml-2">Search</button>
  <a asp-action="Add" class="btn btn-primary ml-2">New Book</a>
</form>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Book</th>
      <th>Author</th>
      <th>Last Updated</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var book in Model)
    {
      <tr>
        <td>
          @if (book.ThumbnailFileId != null)
          {
            <img src="/Files/View/@book.ThumbnailFileId" alt="thumbnail" />
          }
        </td>
        <td><a asp-action="View" asp-route-id="@book.BookId">@book.Title</a></td>
        <td>@book.Author</td>
        <td>@book.LastUpdated.ToString("g")</td>
        <td>
          <a asp-action="Edit" asp-route-id="@book.BookId" class="btn btn-primary">Edit</a>
          @if (book.EBookFileId != null)
          {
            <a href="/Files/Download/@book.EBookFileId" class="btn btn-primary">Download EBook</a>
          }
          else
          {
            <button class="btn btn-primary create-ebook" type="button" data-book-id="@book.BookId">Create EBook</button>
          }
        </td>
      </tr>
    }
  </tbody>
</table>

@section Scripts{
  <script>
    $(function () {
      $("td").addClass("align-middle");
      $(".create-ebook").click(function () {
        var bookId = $(this).attr("data-book-id");
        var createEBook = $(this);
        var downloadEBook = $("<a href='/Book/" + bookId + "/EBook/Download'>Download EBook</a>").addClass("btn btn-primary");
        $(this).html("<span class='spinner-border spinner-border-sm'></span> Create EBook");
        $(this).prop("disabled", true);
        $.ajax({
          url: "/Book/" + bookId + "/EBook/Create",
          success: function () {
            createEBook.replaceWith(downloadEBook);
          }
        });
      })
    });
  </script>
}