@model List<Book>

@{
  ViewData["Title"] = "Books";
}

<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Books</li>
  </ol>
</nav>

<form class="form-inline mb-3">
  <input name="term" type="text" class="form-control">
  <button type="submit" class="btn btn-outline-primary ml-2"><i class="fas fa-search"></i></button>
  <a asp-action="Add" class="btn btn-outline-primary ml-2"><i class="fas fa-plus"></i></a>
</form>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Book</th>
      <th class="d-none d-lg-table-cell">Author</th>
      <th>Updated</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var book in Model)
    {
      <tr>
        <td>
          @if (book.ThumbnailFileId != null)
          {
            <img src="@Context.Request.PathBase/Files/View/@book.ThumbnailFileId" alt="thumbnail" />
          }
        </td>
        <td><a asp-action="View" asp-route-id="@book.BookId">@book.Title</a></td>
        <td class="d-none d-lg-table-cell">@book.Author</td>
        <td>@book.LastUpdated.ToString("d")</td>
        <td>
          <a asp-action="Edit" asp-route-id="@book.BookId"
             class="btn btn-outline-primary"><i class="fas fa-edit"></i></a>
          @if (book.EBookFileId != null)
          {
            <a asp-controller="Files" asp-action="Download" asp-route-id="@book.EBookFileId"
               class="btn btn-outline-primary ml-1"><i class="fas fa-file-download"></i></a>
          }
          else
          {
            <button type="button" data-book-id="@book.BookId" class="btn btn-outline-primary create-ebook ml-1">
              <i class="fas fa-cog"></i>
            </button>
          }
        </td>
      </tr>
    }
  </tbody>
</table>

@section Scripts{
  <script>
    $(function () {
      $("td").addClass("align-middle");
      $(".create-ebook").click(function () {
        var bookId = $(this).attr("data-book-id");
        var createEBook = $(this);
        $(this).html("<span class='spinner-border spinner-border-sm'></span> Create EBook");
        $(this).prop("disabled", true);
        $.ajax({
          url: "@Context.Request.PathBase/Book/" + bookId + "/EBook/Create",
          success: function (result) {
            var downloadEBook = $("<a href='@Context.Request.PathBase/Files/Download/" + result.fileId + "'>Download EBook</a>").addClass("btn btn-primary");
            createEBook.replaceWith(downloadEBook);
          }
        });
      })
    });
  </script>
}