@model Book

@{
  ViewData["Title"] = "View Chapter";
}

<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-action="List">Books</a></li>
    @if (Model.Chapters.Count > 1)
    {
      <li class="breadcrumb-item"><a asp-action="View" asp-route-id="@Model.BookId">@Model.Title</a></li>
      <li class="breadcrumb-item active">@ViewBag.Chapter.Name</li>
    }
    else
    {
      <li class="breadcrumb-item active">@Model.Title</li>
    }
  </ol>
</nav>

@Html.Raw(ViewBag.Html.Text)
