@model Chapter

@{
  ViewData["Title"] = "View Chapter";
  ViewData["NextChapterId"] = Model.Number < Model.Book.Chapters.Count ? Model.Book.Chapters[Model.Number].Id : 0;
  ViewData["PrevChapterId"] = Model.Number > 1 ? Model.Book.Chapters[Model.Number - 2].Id : 0;
}

<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Books" asp-action="List">Books</a></li>
    @if (Model.Book.Chapters.Count > 1)
    {
      <li class="breadcrumb-item"><a asp-action="List" asp-route-bookId="@Model.Book.Id">@Model.Book.Title</a></li>
    }
    <li class="breadcrumb-item active">@Model.Name</li>
    <li class="ml-auto"><a asp-action="Edit" asp-route-id="@Model.Id"><i class="fas fa-edit"></i></a></li>
  </ol>
</nav>

<div id="content">
  @Html.Raw(ViewBag.Html.Text)
</div>

@section StyleSheets{
  <style>
    p {
      font-size: 150%;
    }
  </style>
}

@section Scripts {
  <script src="~/lib/is-in-viewport/isInViewport.min.js"></script>
  <script src="~/lib/scrollstop/jquery.scrollstop.js"></script>
  <script src="~/lib/hammer.js/hammer.min.js"></script>
  <script>
    $(function () {
      $("h2").addClass("d-none");

      var index = 1;
      $("p").each(function () {
        $(this).attr("data-index", index++);
      });

      if( @ViewBag.Paragraph > 1 )
        $(window).scrollTop($("p[data-index='@ViewBag.Paragraph']").offset().top);

      $(window).on("scrollstop", function () {
        $.ajax({
          url: "@Context.Request.PathBase/Bookmarks/AutoBookmark",
          data: {
            bookId: @Model.BookId,
            chapterId: @Model.Id,
            paragraph: $("p:in-viewport").first().attr("data-index")
          }
        });
      });

      $(document).keyup(function (event) {
        if (event.key == "Escape") {
          if (@Model.Book.Chapters.Count > 1)
            window.location.href = "@Context.Request.PathBase/Chapters/List?bookId=@Model.BookId";
          else
            window.location.href = "@Context.Request.PathBase/Books/List";
        }
        else if (event.key == "b") {
          $.ajax({
            url: "@Context.Request.PathBase/Bookmarks/Set",
            data: {
              chapterId: @Model.Id,
              paragraph: $("p:in-viewport").first().attr("data-index")
            }
          });
        }
        else if (event.which == 39) { // right arrow
          if (@ViewData["NextChapterId"])
            window.location.href = "./" + @ViewData["NextChapterId"];
          else
            window.location.href = "@Context.Request.PathBase/Books/List";
        }
        else if (event.which == 37) { // left arrow
          if(@ViewData["PrevChapterId"])
            window.location.href = "./" + @ViewData["PrevChapterId"];
          else
            window.location.href = "@Context.Request.PathBase/Books/List";
        }
      });

      var hammer = new Hammer(document.getElementById("content"));
      hammer.on("swipe", function (event) {
        if (event.offsetDirection == 2) { // left swipe
          if(@ViewData["NextChapterId"])
            window.location.href = "./" + @ViewData["NextChapterId"];
          else
            window.location.href = "@Context.Request.PathBase/Books/List";
        }
        else if (event.offsetDirection == 4) { // right swipe
          if(@ViewData["PrevChapterId"])
            window.location.href = "./" + @ViewData["PrevChapterId"];
          else
            window.location.href = "@Context.Request.PathBase/Books/List";
        }
      });
    });
  </script>
}