@model Chapter

@{
  ViewData["Title"] = "View Chapter";
}

<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Books" asp-action="List">Books</a></li>
    @if (Model.Book.ChaptersCount > 1)
    {
      <li class="breadcrumb-item"><a asp-controller="Books" asp-action="View" asp-route-id="@Model.Book.Id">@Model.Book.Title</a></li>
    }
    <li class="breadcrumb-item active">@Model.Name</li>
    <li class="ml-auto"><a asp-action="Edit" asp-route-id="@Model.Id"><i class="fas fa-edit"></i></a></li>
    <li class="ml-4"><i class="far fa-bookmark"></i></li>
  </ol>
</nav>

@Html.Raw(ViewBag.Html.Text)

@section StyleSheets{
  <style>
    p {
      font-size: 150%;
    }
  </style>
}

@section Scripts {
  <script src="~/lib/is-in-viewport/isInViewport.min.js"></script>
  <script src="~/lib/scrollstop/jquery.scrollstop.js"></script>
  <script>
    $(function () {
      $("h2").addClass("d-none");

      var index = 1;
      $("p").each(function () {
        $(this).attr("data-index", index++);
      });

      if( @ViewBag.Paragraph > 1 )
        $(window).scrollTop($("p[data-index='@ViewBag.Paragraph']").offset().top);

      $(window).on("scrollstop", function () {
        $.ajax({
          url: "@Context.Request.PathBase/Bookmarks/AutoBookmark",
          data: {
            bookId: @Model.BookId,
            chapterId: @Model.Id,
            paragraph: $("p:in-viewport").first().attr("data-index")
          }
        });
      });
    });
  </script>
}